<<!DOCTYPE html>
<html>
<head>
	<title><b>Computer helping</b></title>
</head>
<body>
<table border="1", width="100%", height="888">
	
<div class="header">
	<tr width="100%", height="77">

		<td colspan="3", align="center">header</td>
	

	</tr>
</div>

<div class="body">
	<tr height="100%">

		<td width="10%" align="centre" >
		<h1>body</h1>
		</td>

		<td align="center", valign="top">
		<h1><b>Title</b></h1>
		<h2><i>body</i></h2>
		<h3><del>end</del></h3>
		</td>

		<td width="15%">
		body
		</td>

	</tr>
</div>

<div class="footer">
	<tr width="100%", height="111", colspan="3">

		<td colspan="3">
		<p align="right">footer </p>
		</td>
	

	</tr>
</div>
	

</table>
</body>
</html>

