// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 .form_inputs {
	
}

input{
	width: 250px;
	max-width: 250px;
}

.form_actions {
	width: 150px;
	color: #555577;
	text-transform: capitalize;

}