<footer>
	<nav>
		<strong><a href="home/about">Про нас</a></strong>
		<strong><a href="#">Наші контакти</a></strong>|  
		<strong><a href=mailto:denis.hudzenk@gmail.com>Написати листа</a></strong>
		<strong><a href=callto:cass1dyyy><img src="images/0.jpg"></a></strong>
	</nav>
</footer>